modules = ["web", "nodejs-20", "python-3.12"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["cacert", "cairo", "cargo", "gdk-pixbuf", "libffi", "libiconv", "libxcrypt", "openssl", "pango", "pgadmin4", "pkg-config", "postgresql", "rustc", "python312Packages.pycairo"]
