asgiref>=3.8.1
certifi>=2024.0.0
cffi>=2.0.0
charset-normalizer>=3.4.0
cryptography>=46.0.0
Django>=5.2
dj-database-url>=3.1.0
gunicorn>=23.0.0
whitenoise>=6.11.0
idna>=3.11
MarkupSafe>=3.0.3
paystackapi>=2.1.3
psycopg2-binary>=2.9.11
pycparser>=2.23
python-dotenv>=1.2.1
python-http-client>=3.3.7
requests>=2.32.5
sendgrid>=6.12.5
sqlparse>=0.5.5
stripe>=14.1.0
typing_extensions>=4.15.0
urllib3>=2.6.3
Werkzeug>=3.1.5
psycopg[binary]
dj-database-url
django
gunicorn
paystackapi
psycopg2-binary
python-dotenv
sendgrid
stripe
whitenoise
psycopg[binary]
pyHanko[image]
reportlab
svglib
xhtml2pdf
dj-database-url
Django
gunicorn
paystackapi
psycopg2-binary
python-dotenv
reportlab
requests
sendgrid
stripe
svglib
whitenoise
xhtml2pdf
crispy-bootstrap5
django-crispy-forms
crispy-bootstrap5
dj-database-url
Django
django-crispy-forms
gunicorn
paystackapi
psycopg[binary]
psycopg2-binary
pyHanko[image]
python-dotenv
reportlab
requests
sendgrid
stripe
svglib
Werkzeug
whitenoise
xhtml2pdf
crispy-bootstrap5
dj-database-url
django
django-crispy-forms
gunicorn
paystackapi
psycopg[binary]
psycopg2-binary
pyHanko[image]
python-dotenv
reportlab
requests
sendgrid
stripe
svglib
werkzeug
whitenoise
xhtml2pdf
crispy-bootstrap5
dj-database-url
django
django-crispy-forms
gunicorn
paystackapi
psycopg[binary]
psycopg2-binary
pyHanko
python-dotenv
reportlab
requests
sendgrid
stripe
svglib
werkzeug
whitenoise
xhtml2pdf
crispy-bootstrap5
dj-database-url
django
django-crispy-forms
gunicorn
paystackapi
psycopg[binary]
psycopg2-binary
pyHanko
python-dotenv
reportlab
requests
sendgrid
stripe
svglib
werkzeug
whitenoise
xhtml2pdf
